* {
  box-sizing: border-box;
}

.mySlides {
  display: none
}

img {
    vertical-align: middle;
    width: 100%;
    margin-top: 2em;
}

.slideshow{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.pre, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: blue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s;
  user-select: none;
}

.next {
  right: 0;
}

.pre:hover, .next:hover {
  background-color: rgb(179, 215, 247);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: blue;
  border-radius: 90%;
  display: inline-block;
  transition: 0.6s ease;
}

.Dots {
  text-align: center;
}

.active, .dot:hover {
  background-color:rgb(179, 215, 247);
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@media only screen and (max-width: 300px) {
  .pre, .next,.text {font-size: 11px}
}